//素材库展示界面
doctype html
html
    head
        include ./templates_pug/default-head.pug
        link(href="css/file-style.css",rel="stylesheet")

        //- Javascript for this page
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            include ./templates_pug/navbar-container.pug
        div.showwindow
            ul.home-browse-categories
                li.category-item
                    a(href="#") 动物
                li.category-item
                    a(href="#") 建筑
                li.category-item
                    a(href="#") 植物
                li.category-item
                    a(href="#") 音乐
                li.category-item  
                    a(href="#") 艺术
                li.category-item  
                    a(href="#") 食物
                li.category-item  
                    a(href="#") 人物
                li.category-item  
                    a(href="#") 科学
                li.category-item
                    a(href="#") 更多...
                
            div.items
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                                    
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690
                div.item
                    div.card_main
                        a(href="#",target="_blank",title="page")
                            img.card(src="img/head1.jpg")
                    div.card_footer  
                        div.card_footer_left
                            div.image_container
                                a.card_footer_avatar(href="#")
                                    img.head(src="img/head1.jpg")
                            p.card_footer_title 
                                a.model-name_label(href="#",target="_blank",title="Ako") Ako
                        div.card_footer_right
                            div.like
                                div.icon
                                    a.like(href="#" data-toggle="tooltip" data-placement="top" title="Like")
                                        span.glyphicon.glyphicon-heart
                                div.count
                                    span.count 46
                            div.comments
                                div.icon
                                    a.comments(href="#" data-toggle="tooltip" data-placement="top" title="Comments")
                                        span.glyphicon.glyphicon-comment
                                div.count
                                    span.count 12
                            div.eye
                                div.icon
                                    span.glyphicon.glyphicon-eye-open
                                div.count     
                                    span.count 690      