doctype html
html
    head
        include ./templates_pug/default-head.pug
        title Gems - Individual Game Developer Platform
        link(href="css/index-style.css",rel="stylesheet")

        //- Javascript for this page
    body
        nav.navbar.navbar-default.navbar-fixed-top
            include ./templates_pug/navbar-container.pug
        div.showwindow
            div.bottombox.transparentblack
                div.container
                    div.row
                        div.col-md-8.col-md-push-2
                            h1 WELCOME
                            p A communitive platform with game developers from all the world
                    div.row
                        div.col-md-4.col-md-offset-2
                            a.btn.btn-success SignUp
                        div.col-md-4
                            a.btn.btn-info Details