doctype html
html
    head
        include ./templates_pug/default-head.pug
        link(href="css/register-style.css",rel="stylesheet")

        //- Javascript for this page
        script(type="text/javascript",src="js/register.js")
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            include ./templates_pug/navbar-container.pug
        div.showwindow
            div.container
                div.row
                    div.col-md-6.col-md-offset-3
                        div.info-l
                            div.col-md-10.col-md-push-1
                                div.title
                                    p.title-1 ·填写注册信息
                                    hr
                                    div.col-md-10.col-md-push-1
                                        div.info-m
                                            div.info-s
                                                p.title-2 *用户名：
                                                div.info
                                                    input.name(type="text", name="name", onclick="showMess(this)",onblur="userid(this)")
                                                p.title-3 英文,数字或下划线
                                                p.glyphicon.glyphicon-ok
                                                p.alert 用户名已存在
                                                p.alert#alert-2 输入不符合规范
                                            div.info-s
                                                p.title-2 *邮箱：
                                                div.info
                                                    input.name(type="email", name="email", onclick="showMess(this)",onblur="email(this)")
                                                p.title-3 请输入有效邮箱
                                                p.glyphicon.glyphicon-ok
                                                p.alert 邮箱格式不正确
                                            div.info-s
                                                p.title-2 *密码：
                                                div.info
                                                    input.name(type="password", name="password", onclick="showMess(this)",onblur="password(this)",oninput="passLen(this)")
                                                p.title-3 请输入6-16位密码
                                                p.glyphicon.glyphicon-ok
                                                p.alert 密码长度不符
                                            div.info-s
                                                p.title-2 *确认密码：                                                    
                                                div.info
                                                    input.name(type="password", name="re-password", onclick="showMess(this)",onblur="passwordRe(this)")
                                                p.title-3 请确认密码
                                                p.glyphicon.glyphicon-ok
                                                p.alert 密码与之前输入不符        
                                            div.col-md-6.col-md-push-3
                                            a.btn.btn-success 注册