doctype html
html
    head 
        include ../web_src/templates_pug/default-head.pug
        title 发布文章
        link(rel="stylesheet", href="css/writearticle.css",type="text/css")
        link(rel="stylesheet", href="components/summernote/summernote.css")
        script(type="text/javascript", src="components/summernote/summernote.min.js")
        script(type="text/javascript", src="js/writearticle.js")
    body
        nav.navbar.navbar-inverse
            include ../web_src/templates_pug/navbar-container.pug
        
        div.container-fluid
            div.row(style="background-color:rgb(34,34,34);")
                h1.boldwhitetext 编辑文章

        div.container.articlewriting
            div#informwindow.alert.alert-danger
            div.form-group
                label(for="articletitle") 标题：
                input#articletitle.form-control(type="text",placeholder="在此输入标题")
            label 正文：
            div#summernote
            button#submit-btn.btn.btn-lg.btn-success(onclick="onSubmitClick()") 完成提交