//- default head, used to add bootstrap, jquery
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible",content="IE=Edge")
meta(name="viewport",content="width=device-width initial-scale=1")
link(href="css/bootstrap.min.css",rel="stylesheet")
script(type="text/javascript",src="js/jquery.min.js")
script(type="text/javascript",src="js/bootstrap.min.js")