div.container
    div.narbar-header
        button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbarul",aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="#") GG
    div.collapse.navbar-collapse#navbarul
        ul.nav.navbar-nav
            li
                a(href="#") 关于
            li
                a(href="#") 文章
            li
                a(href="#") 展示窗